*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #050505;
    color:white;
    font-family: sans-serif;
}
.container{
    width:100%;
    height:100vh;
}
.navbar{
    padding:3rem 7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.navlist{
    display: flex;
align-items: center;
justify-content: space-between;
gap:3rem;
}
li{
    list-style: none;
}
a{
    color:#8a8f98;
    text-decoration: none;
    transition: 0.5s;
}
a:hover{
    color:#01de9a;
}
.primary-heading{
    font-family: 'Oswald', sans-serif;  
    font-size: 3rem;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;
    line-height: 3.7rem;
}
.color-green{
    color:#01de9a;
}
.btn{
    background-color: #050505;
    border:1px solid #01de9a;
    color:white;
    padding:0.6rem 1.8rem;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn:hover{
    color:#01de9a;
    border:1px solid white;
}
.home-container{
    width:100%;
   padding:0 7rem;
    display: flex;
    
    justify-content: space-between;
}
.home-content{
    width:45%;
    padding: 5rem 0 0 0;
}
.primary-para{
    line-height: 1.5rem;
    margin-bottom: 2rem;
}
.home-img{
    width:50%;
    
}
.world-img{
   width:100%;
   
}
.horizontal-line{
width:100%;
height:1px ;
background-color:#3e7968  ;
box-shadow: 4px 4px 10px #01de9a;
}
.section-class , .process-content {
    display: flex;
    align-items: center;
   
}
.side-bar{
    width:8rem;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-line{
    width:1px;
    height:100%;
    background-color: #3e7968;
    box-shadow: 2px 2px 10px #01de9a;
}
.tilted-heading{
    transform: rotate(-90deg);
   
}
.secondary-heading{
    font-family: 'Oswald', sans-serif;  
}
.section-content{
    height:100%;
   width:90%;
    display: flex;
    align-items: center;
 justify-content: space-around;
}
.map-img{
    width:45%; 
height:650px;
}
.content-space{
   padding-left:5rem;
   width:50%;
}
.services-section, .process-section{
    width:90%;
   display: flex; 
   justify-content: space-around;
   align-items: center;
}
.service-box{
    width:250px;
    height:300px;
    background-color:#0f0f0f;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tertiary-heading{
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;  
}
.secondary-para{
    font-size: 14px;
    text-align: center;
    line-height: 16px;
}
.fa{
    color:#01de9a;
    font-size: 40px;
    margin-bottom: 25px;
}
.process-content{
    width:85%;
    height:200px;
    background-color: #0f0f0f;
    justify-content: space-around;
    border-radius: 10px;
    padding:30px;
}
.why-us-section{
    width:85%;
    padding-right: 6rem;
}
.why-us-box{
   
   justify-content: space-between;
    display: flex;
}
.why-box-heading{
    width:600px;
    height:120px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 5px;
}
.why-box-content{
   display: flex;
   flex-direction: column;
  justify-content:end;
  padding:0 7rem 1rem 2rem;
  
}
.why-box-content p{
    text-align: left;
}
.why-box-content h3{
    letter-spacing: 2px;
}
.box-number{
    padding-top: 20px;
    text-align: center;
   width:180px;
    height:100%;
    color:#333232;
    font-size: 30px;
    font-weight: bold;
}


